<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si es una solicitud a un archivo o directorio real, déjalo pasar
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todo al index.php
    RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>
